
<!--

<div *ngIf="displayDashboard" class="filter-collapse">
    <div class="page-filter">
        <div class="info-boxes box-xtra-small">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    <div class="info-box bg-yellow hover-expand-effect">
                        <div class="icon">
                            <i class="fas fa-prescription"></i>
                        </div>
                        <div class="content">
                            <div class="text"> Orders</div>
                            <div class="number">{{_signalRService.CountOfOrderCreated}}</div>
                            <a href="#OrdersStatus" class="link" data-bs-toggle="modal" (click)="OpenOrderReportDialog()">
                                <i class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <div class="info-box bg-blue hover-expand-effect" >
                        <div class="icon">
                            <i class="fas fa-user-md"></i>
                        </div>
                        <div class="content">
                            <div class="text">Doctors</div>
                            <div class="number">{{_signalRService.CountOfDoctorCalled}} </div>
                            <a  class="link" data-bs-toggle="modal" (click)="OpenCaseMangmentReportDialog()">
                                <i class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<div class="filter-collapse-icon active">
    <span (click)="ToggleDashboard()" class="fas glyphicon-chevron-down glyphicon-chevron-up fa-angle-up"></span>
</div>

-->
