<div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content container-fluid">
        <div class="modal-header">
            <h2 class="modal-title">{{title}}</h2>
            <button type="button" (click)="CloseDialog()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <form [formGroup]="formAddEditTeamMember">
                <div class="col-sm-12">
                    <div class="light-blue row">
                     <input type="hidden"  formControlName="id">
                        <div class="form-group col-sm-4">
                          <label>Name <span class="req"> *</span></label> 
                           <input type="text" class="form-control" 
                           [ngClass]="!formAddEditTeamMember.controls['name'].valid
                           && formAddEditTeamMember.controls['name'].touched ? 'field-error' : 'field-noerror'"
                           formControlName="name">
                           <span
                           *ngIf="!formAddEditTeamMember.controls['name'].valid 
                           && formAddEditTeamMember.controls['name'].touched"
                           class="validation">Please Enter Member Name!</span>
                        </div>

                        <div class="form-group col-sm-4">
                          <label>Position <span class="req"> *</span></label>
                          <input type="text" class="form-control" 
                          [ngClass]="!formAddEditTeamMember.controls['position'].valid
                          && formAddEditTeamMember.controls['position'].touched ? 'field-error' : 'field-noerror'"
                          formControlName="position">
                          <span
                          *ngIf="!formAddEditTeamMember.controls['position'].valid 
                          && formAddEditTeamMember.controls['position'].touched"
                          class="validation">Please Enter Member Position!</span>
                        </div>

                        <div class="form-group col-sm-4">
                          <label>Number<span class="req"> *</span></label>
                            <input  type="number" class="form-control"
                            [ngClass]="!formAddEditTeamMember.controls['number'].valid
                             && formAddEditTeamMember.controls['number'].touched ? 'field-error' : 'field-noerror'"
                             formControlName="number">
                             <span
                             *ngIf="!formAddEditTeamMember.controls['number'].valid 
                             && formAddEditTeamMember.controls['number'].touched"
                             class="validation">Please Enter Member Number!</span>
                        </div>
                    
                    </div>
                </div>
            </form>
            </div>
        
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-sm-12 form-buttons">
                    <div>
                        <button class="btn btn-primary" (click)="SaveData()" [disabled]="!formAddEditTeamMember.valid"> Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
