@font-face {
  font-family: "cleaning-font";
  src: url("cleaning-font.eot");
  src: url("cleaning-font.eot?#iefix") format("embedded-opentype"),
       url("cleaning-font.woff") format("woff"),
       url("cleaning-font.ttf") format("truetype"),
       url("cleaning-font.svg#cleanicon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "cleaning-font";
    src: url("./cleaning-font.svg#cleanicon") format("svg");
  }
}

[class^="cleanicon-"]:before, [class*=" cleanicon-"]:before,
[class^="cleanicon-"]:after, [class*=" cleanicon-"]:after {   
    font-family: "cleaning-font";
    font-size: inherit;
    font-style: normal;

}

.cleanicon-antique-clock:before { content: "\f100"; }
.cleanicon-armchair-with-wheels-of-studio-furniture:before { content: "\f101"; }
.cleanicon-audio-equipment:before { content: "\f102"; }
.cleanicon-baby-crib-bedroom-furniture:before { content: "\f103"; }
.cleanicon-bathroom-black-bottle-container-with-spray-system:before { content: "\f104"; }
.cleanicon-bathroom-bottle:before { content: "\f105"; }
.cleanicon-bathroom-bottle-container-of-rounded-rectangular-black-shape:before { content: "\f106"; }
.cleanicon-bathroom-brush:before { content: "\f107"; }
.cleanicon-bathroom-brush-cleaning-tool:before { content: "\f108"; }
.cleanicon-bathroom-closet-with-personal-care-objects:before { content: "\f109"; }
.cleanicon-bathroom-detail:before { content: "\f10a"; }
.cleanicon-bathroom-drainage-of-circular-shape:before { content: "\f10b"; }
.cleanicon-bathroom-faucet:before { content: "\f10c"; }
.cleanicon-bathroom-faucet-tool:before { content: "\f10d"; }
.cleanicon-bathroom-first-aid-kit-box:before { content: "\f10e"; }
.cleanicon-bathroom-furniture:before { content: "\f10f"; }
.cleanicon-bathroom-furniture-1:before { content: "\f110"; }
.cleanicon-bathroom-hanging-towel:before { content: "\f111"; }
.cleanicon-bathroom-organization-furniture:before { content: "\f112"; }
.cleanicon-bathroom-paper-roll:before { content: "\f113"; }
.cleanicon-bathroom-spray-bottle:before { content: "\f114"; }
.cleanicon-bathroom-tap-silhouette:before { content: "\f115"; }
.cleanicon-bathroom-tap-tool-to-control-water-supply:before { content: "\f116"; }
.cleanicon-bathroom-toothpaste-tube:before { content: "\f117"; }
.cleanicon-bathroom-towel:before { content: "\f118"; }
.cleanicon-bathroom-trash-container:before { content: "\f119"; }
.cleanicon-bathtub-with-opened-shower:before { content: "\f11a"; }
.cleanicon-bed-design-with-three-drawers:before { content: "\f11b"; }
.cleanicon-bed-room-mirror-on-a-drawer-furniture:before { content: "\f11c"; }
.cleanicon-bed-side-view:before { content: "\f11d"; }
.cleanicon-bedroom-black-closed-closet-for-clothes:before { content: "\f11e"; }
.cleanicon-bedroom-circular-alarm-clock-tool:before { content: "\f11f"; }
.cleanicon-bedroom-closet-with-opened-door-of-the-side-to-hang-clothes:before { content: "\f120"; }
.cleanicon-bedroom-drawer-furniture:before { content: "\f121"; }
.cleanicon-bedroom-drawer-furniture-with-tv-monitor:before { content: "\f122"; }
.cleanicon-bedroom-drawers-furniture:before { content: "\f123"; }
.cleanicon-bedroom-furniture:before { content: "\f124"; }
.cleanicon-bedroom-furniture-equipment:before { content: "\f125"; }
.cleanicon-bedroom-furniture-small-table-for-bed-side:before { content: "\f126"; }
.cleanicon-bedroom-hanger-for-clothes:before { content: "\f127"; }
.cleanicon-bedroom-library-of-wheels-with-books:before { content: "\f128"; }
.cleanicon-bedroom-mirror:before { content: "\f129"; }
.cleanicon-bedroom-mirror-on-drawers-with-a-seat:before { content: "\f12a"; }
.cleanicon-bedroom-rack-furniture-to-hang-things:before { content: "\f12b"; }
.cleanicon-bedroom-stairs-tool:before { content: "\f12c"; }
.cleanicon-bedroom-wardrobe:before { content: "\f12d"; }
.cleanicon-big-luxury-door-entrance-architectural-detail:before { content: "\f12e"; }
.cleanicon-black-bed:before { content: "\f12f"; }
.cleanicon-black-box-for-storage:before { content: "\f130"; }
.cleanicon-black-box-for-storage-and-organization-of-things:before { content: "\f131"; }
.cleanicon-black-door:before { content: "\f132"; }
.cleanicon-black-door-1:before { content: "\f133"; }
.cleanicon-black-sofa-of-livingroom:before { content: "\f134"; }
.cleanicon-bottle-opener-tool-for-kitchen:before { content: "\f135"; }
.cleanicon-box-organization-tool:before { content: "\f136"; }
.cleanicon-bricks-wall-with-grass-leaves-border:before { content: "\f137"; }
.cleanicon-bubbles-bath-bathtub:before { content: "\f138"; }
.cleanicon-building:before { content: "\f139"; }
.cleanicon-bunk-bedroom-furniture:before { content: "\f13a"; }
.cleanicon-candle-and-candelabrum-silhouette:before { content: "\f13b"; }
.cleanicon-chair-with-wheels-of-studio-furniture:before { content: "\f13c"; }
.cleanicon-children-bedroom-drawer-full-of-toys:before { content: "\f13d"; }
.cleanicon-circular-wall-clock-for-livingroom:before { content: "\f13e"; }
.cleanicon-circular-window:before { content: "\f13f"; }
.cleanicon-cleaning-bottle-silhouette:before { content: "\f140"; }
.cleanicon-cleaning-brush:before { content: "\f141"; }
.cleanicon-cleaning-brush-tool:before { content: "\f142"; }
.cleanicon-cleaning-container-tool:before { content: "\f143"; }
.cleanicon-cleaning-mop:before { content: "\f144"; }
.cleanicon-cleaning-mop-for-floors:before { content: "\f145"; }
.cleanicon-cleaning-mop-house-tool:before { content: "\f146"; }
.cleanicon-cleaning-pail-for-water:before { content: "\f147"; }
.cleanicon-cleaning-spray-bottle:before { content: "\f148"; }
.cleanicon-closed-bathroom-shower:before { content: "\f149"; }
.cleanicon-clothes-hanger:before { content: "\f14a"; }
.cleanicon-clothes-hanging-on-rope-for-drying:before { content: "\f14b"; }
.cleanicon-clothespin:before { content: "\f14c"; }
.cleanicon-coat-stand-livingroom-furniture:before { content: "\f14d"; }
.cleanicon-corkscrew:before { content: "\f14e"; }
.cleanicon-covered-barbecue:before { content: "\f14f"; }
.cleanicon-cream-bottle-of-bathroom:before { content: "\f150"; }
.cleanicon-cutting-tool-for-gardening:before { content: "\f151"; }
.cleanicon-dark-door:before { content: "\f152"; }
.cleanicon-desk-lamp-tool:before { content: "\f153"; }
.cleanicon-dining-room-carpet:before { content: "\f154"; }
.cleanicon-dining-room-chair:before { content: "\f155"; }
.cleanicon-dining-room-cup-on-a-plate:before { content: "\f156"; }
.cleanicon-dining-room-cupboard-with-glasses:before { content: "\f157"; }
.cleanicon-dining-room-cutlery-set-of-three-pieces-in-silhouettes:before { content: "\f158"; }
.cleanicon-dining-room-furniture:before { content: "\f159"; }
.cleanicon-dining-room-furniture-of-a-table-with-chairs:before { content: "\f15a"; }
.cleanicon-dining-room-furniture-to-storage-objects:before { content: "\f15b"; }
.cleanicon-dining-room-table-eating-tools-set-from-top-view:before { content: "\f15c"; }
.cleanicon-door:before { content: "\f15d"; }
.cleanicon-door-design:before { content: "\f15e"; }
.cleanicon-door-design-1:before { content: "\f15f"; }
.cleanicon-door-of-arch-shape-with-two-small-trees-on-pots-at-both-sides:before { content: "\f160"; }
.cleanicon-door-with-steps:before { content: "\f161"; }
.cleanicon-drawer-rack-of-a-livingroom-with-books-and-a-bowl:before { content: "\f162"; }
.cleanicon-dvd-player-tool:before { content: "\f163"; }
.cleanicon-economic-architecture-building-of-stacked-containers:before { content: "\f164"; }
.cleanicon-electric-heating-tool-with-water-system:before { content: "\f165"; }
.cleanicon-electric-kettle:before { content: "\f166"; }
.cleanicon-electric-lengthen:before { content: "\f167"; }
.cleanicon-electric-outlet:before { content: "\f168"; }
.cleanicon-electric-plugins-of-wall:before { content: "\f169"; }
.cleanicon-electric-socket:before { content: "\f16a"; }
.cleanicon-electric-socket-of-circular-shape-with-two-holes:before { content: "\f16b"; }
.cleanicon-electric-socket-of-three-straight-holes:before { content: "\f16c"; }
.cleanicon-electric-socket-of-two-straight-lines-holes:before { content: "\f16d"; }
.cleanicon-electrical-circular-wall-connection:before { content: "\f16e"; }
.cleanicon-electrical-socket-connector-of-three-holes:before { content: "\f16f"; }
.cleanicon-electronic-house-tool-of-alarm:before { content: "\f170"; }
.cleanicon-electronic-visualization-monitor-tool-for-tv-or-computer:before { content: "\f171"; }
.cleanicon-elegant-door-entrance:before { content: "\f172"; }
.cleanicon-elegant-door-of-entrance-with-columns:before { content: "\f173"; }
.cleanicon-fan:before { content: "\f174"; }
.cleanicon-fire-lighter:before { content: "\f175"; }
.cleanicon-fireplace-with-fire-flames-heating-home:before { content: "\f176"; }
.cleanicon-flowers-pot-of-yard:before { content: "\f177"; }
.cleanicon-fluffy-puff:before { content: "\f178"; }
.cleanicon-frying-pan:before { content: "\f179"; }
.cleanicon-garage-drawer-furniture-for-tools-storage-and-organization:before { content: "\f17a"; }
.cleanicon-garage-fixing-toolbox-set:before { content: "\f17b"; }
.cleanicon-garage-lantern-tool:before { content: "\f17c"; }
.cleanicon-garage-nut-tool-hexagonal-shape:before { content: "\f17d"; }
.cleanicon-garage-saw-tool-sawing-a-table:before { content: "\f17e"; }
.cleanicon-garage-table-with-drawers:before { content: "\f17f"; }
.cleanicon-garage-with-opened-door-and-a-car-inside:before { content: "\f180"; }
.cleanicon-garage-wrenches:before { content: "\f181"; }
.cleanicon-gardening-shovel-tool-shape:before { content: "\f182"; }
.cleanicon-glass:before { content: "\f183"; }
.cleanicon-grass-leaves-silhouette:before { content: "\f184"; }
.cleanicon-hairdryer:before { content: "\f185"; }
.cleanicon-hammer-nailing-a-nail:before { content: "\f186"; }
.cleanicon-hand-written-paper:before { content: "\f187"; }
.cleanicon-hanging-cloth-towel-of-bathroom:before { content: "\f188"; }
.cleanicon-home-building-like-a-birds-house:before { content: "\f189"; }
.cleanicon-home-theatre-and-monitor-on-livingroom-furniture:before { content: "\f18a"; }
.cleanicon-hose-watering-tool-for-gardening:before { content: "\f18b"; }
.cleanicon-house-building:before { content: "\f18c"; }
.cleanicon-house-building-1:before { content: "\f18d"; }
.cleanicon-house-building-2:before { content: "\f18e"; }
.cleanicon-house-building-beside-a-pine-tree:before { content: "\f18f"; }
.cleanicon-house-building-front:before { content: "\f190"; }
.cleanicon-house-construction:before { content: "\f191"; }
.cleanicon-house-fireplace:before { content: "\f192"; }
.cleanicon-house-front:before { content: "\f193"; }
.cleanicon-house-front-1:before { content: "\f194"; }
.cleanicon-house-front-of-three-floors:before { content: "\f195"; }
.cleanicon-house-frontal-view-with-entrance-door-and-garage:before { content: "\f196"; }
.cleanicon-house-security-keyhole-tool:before { content: "\f197"; }
.cleanicon-house-stairs:before { content: "\f198"; }
.cleanicon-house-with-one-frontal-window:before { content: "\f199"; }
.cleanicon-iron:before { content: "\f19a"; }
.cleanicon-jar-container-for-liquids:before { content: "\f19b"; }
.cleanicon-key:before { content: "\f19c"; }
.cleanicon-king-size-bedroom:before { content: "\f19d"; }
.cleanicon-kitchen-bell-extractor:before { content: "\f19e"; }
.cleanicon-kitchen-bowl:before { content: "\f19f"; }
.cleanicon-kitchen-ceiling-lamp-of-semicircular-shape:before { content: "\f1a0"; }
.cleanicon-kitchen-chair:before { content: "\f1a1"; }
.cleanicon-kitchen-chair-1:before { content: "\f1a2"; }
.cleanicon-kitchen-circular-ceramic-plates-stacked:before { content: "\f1a3"; }
.cleanicon-kitchen-cloth-glove-to-protect-hand:before { content: "\f1a4"; }
.cleanicon-kitchen-cups-set-hanging-of-a-rack:before { content: "\f1a5"; }
.cleanicon-kitchen-electronic-furniture:before { content: "\f1a6"; }
.cleanicon-kitchen-furniture:before { content: "\f1a7"; }
.cleanicon-kitchen-grater-cutting-tool:before { content: "\f1a8"; }
.cleanicon-kitchen-knife:before { content: "\f1a9"; }
.cleanicon-kitchen-lighter-house-tool:before { content: "\f1aa"; }
.cleanicon-kitchen-or-dining-room-door-with-oval-window:before { content: "\f1ab"; }
.cleanicon-kitchen-palette-for-cooking:before { content: "\f1ac"; }
.cleanicon-kitchen-small-bench:before { content: "\f1ad"; }
.cleanicon-kitchen-spices-set-in-flasks-on-a-rack:before { content: "\f1ae"; }
.cleanicon-kitchen-spoons-set:before { content: "\f1af"; }
.cleanicon-kitchen-table-and-seats-set-of-furniture:before { content: "\f1b0"; }
.cleanicon-lamp:before { content: "\f1b1"; }
.cleanicon-lamp-1:before { content: "\f1b2"; }
.cleanicon-leaves-of-garden:before { content: "\f1b3"; }
.cleanicon-lightbulb:before { content: "\f1b4"; }
.cleanicon-living-room-black-lamp-furniture-tool-for-illumination:before { content: "\f1b5"; }
.cleanicon-living-room-books-group:before { content: "\f1b6"; }
.cleanicon-livingroom-armchair:before { content: "\f1b7"; }
.cleanicon-livingroom-armchair-1:before { content: "\f1b8"; }
.cleanicon-livingroom-black-curtains:before { content: "\f1b9"; }
.cleanicon-livingroom-black-double-sofa:before { content: "\f1ba"; }
.cleanicon-livingroom-curtain-tool:before { content: "\f1bb"; }
.cleanicon-livingroom-cushion-of-square-shape:before { content: "\f1bc"; }
.cleanicon-livingroom-cushions-couple:before { content: "\f1bd"; }
.cleanicon-livingroom-furniture:before { content: "\f1be"; }
.cleanicon-livingroom-illumination-tool:before { content: "\f1bf"; }
.cleanicon-livingroom-lamp:before { content: "\f1c0"; }
.cleanicon-livingroom-lamp-1:before { content: "\f1c1"; }
.cleanicon-livingroom-lamp-of-black-design:before { content: "\f1c2"; }
.cleanicon-livingroom-objects-in-library:before { content: "\f1c3"; }
.cleanicon-livingroom-plant-pot-with-bamboo:before { content: "\f1c4"; }
.cleanicon-livingroom-rack-furniture:before { content: "\f1c5"; }
.cleanicon-livingroom-rocking-chair:before { content: "\f1c6"; }
.cleanicon-livingroom-small-tall-table-with-seats-set:before { content: "\f1c7"; }
.cleanicon-livingroom-storage-furniture:before { content: "\f1c8"; }
.cleanicon-livingroom-table:before { content: "\f1c9"; }
.cleanicon-livingroom-table-with-a-small-jar:before { content: "\f1ca"; }
.cleanicon-livingroom-window-with-curtains:before { content: "\f1cb"; }
.cleanicon-long-studio-ruler-tool:before { content: "\f1cc"; }
.cleanicon-magazines-drawer-of-grid-design:before { content: "\f1cd"; }
.cleanicon-mail-box:before { content: "\f1ce"; }
.cleanicon-microwave-or-small-oven-kitchen-cooking-tool:before { content: "\f1cf"; }
.cleanicon-mixer:before { content: "\f1d0"; }
.cleanicon-mixer-1:before { content: "\f1d1"; }
.cleanicon-mixer-machine-with-jar:before { content: "\f1d2"; }
.cleanicon-modern-livingroom-furniture-shapes:before { content: "\f1d3"; }
.cleanicon-mop-cleaning-tool-for-house-floors:before { content: "\f1d4"; }
.cleanicon-mop-tool-to-clean-floors:before { content: "\f1d5"; }
.cleanicon-mouse-with-cord:before { content: "\f1d6"; }
.cleanicon-mower-machine:before { content: "\f1d7"; }
.cleanicon-opened-window-door:before { content: "\f1d8"; }
.cleanicon-opened-window-door-of-glasses:before { content: "\f1d9"; }
.cleanicon-organizer-box-for-storage-of-things:before { content: "\f1da"; }
.cleanicon-ornamental-candles-for-livingroom-decoration:before { content: "\f1db"; }
.cleanicon-ornamental-fruits-bowl:before { content: "\f1dc"; }
.cleanicon-oven:before { content: "\f1dd"; }
.cleanicon-oven-electric-tool:before { content: "\f1de"; }
.cleanicon-paintbrush-garage-tool:before { content: "\f1df"; }
.cleanicon-painting-roller-tool:before { content: "\f1e0"; }
.cleanicon-pepper-grinder:before { content: "\f1e1"; }
.cleanicon-phone-tool-of-home:before { content: "\f1e2"; }
.cleanicon-picture-with-frame-for-livingroom-decoration-of-house:before { content: "\f1e3"; }
.cleanicon-pipes-angles:before { content: "\f1e4"; }
.cleanicon-plant-in-a-pot:before { content: "\f1e5"; }
.cleanicon-plant-on-a-pot:before { content: "\f1e6"; }
.cleanicon-plant-pot-with-flower-for-livingroom-ornamentation:before { content: "\f1e7"; }
.cleanicon-plants-pots:before { content: "\f1e8"; }
.cleanicon-plug:before { content: "\f1e9"; }
.cleanicon-queen-size-bed:before { content: "\f1ea"; }
.cleanicon-radio-rectangular-shape:before { content: "\f1eb"; }
.cleanicon-rake:before { content: "\f1ec"; }
.cleanicon-rake-fork-for-gardening:before { content: "\f1ed"; }
.cleanicon-razor:before { content: "\f1ee"; }
.cleanicon-refrigerator:before { content: "\f1ef"; }
.cleanicon-salt-and-pepper-containers-for-dining-room:before { content: "\f1f0"; }
.cleanicon-sewing-machine:before { content: "\f1f1"; }
.cleanicon-short-shovel-to-sweep:before { content: "\f1f2"; }
.cleanicon-shovel-to-clean-house-floors:before { content: "\f1f3"; }
.cleanicon-shower-bathroom-tool:before { content: "\f1f4"; }
.cleanicon-small-bench:before { content: "\f1f5"; }
.cleanicon-spotted-beetle-insect-of-a-garden:before { content: "\f1f6"; }
.cleanicon-square-framed-mirror:before { content: "\f1f7"; }
.cleanicon-squeezer:before { content: "\f1f8"; }
.cleanicon-steering-wheel:before { content: "\f1f9"; }
.cleanicon-stones-floor:before { content: "\f1fa"; }
.cleanicon-striped-house:before { content: "\f1fb"; }
.cleanicon-striped-stick-of-yard:before { content: "\f1fc"; }
.cleanicon-studio-box-like-bag-for-storage:before { content: "\f1fd"; }
.cleanicon-studio-calculator:before { content: "\f1fe"; }
.cleanicon-studio-carpets-couple-with-papers:before { content: "\f1ff"; }
.cleanicon-studio-compass-drawing-tool:before { content: "\f200"; }
.cleanicon-studio-desk-and-chair:before { content: "\f201"; }
.cleanicon-studio-desk-with-table-chair-computer-tower-and-monitor:before { content: "\f202"; }
.cleanicon-studio-desk-with-two-drawers-and-a-computer-monitor-on-it:before { content: "\f203"; }
.cleanicon-studio-furniture-of-two-drawers-on-wheels:before { content: "\f204"; }
.cleanicon-studio-printed-paper:before { content: "\f205"; }
.cleanicon-studio-printing-machine:before { content: "\f206"; }
.cleanicon-studio-semicircular-tool-to-measure-angles-degrees:before { content: "\f207"; }
.cleanicon-studio-table-silhouette-perspective:before { content: "\f208"; }
.cleanicon-studio-tablet-computer-tool:before { content: "\f209"; }
.cleanicon-studio-trays-with-papers:before { content: "\f20a"; }
.cleanicon-studio-triangular-ruler-tool:before { content: "\f20b"; }
.cleanicon-studio-writing-tools:before { content: "\f20c"; }
.cleanicon-swimming-pool-perspective-with-water:before { content: "\f20d"; }
.cleanicon-table-and-two-chairs-set-for-back-yard:before { content: "\f20e"; }
.cleanicon-three-candles-candelabrum-of-livingroom-ornamentation:before { content: "\f20f"; }
.cleanicon-toothbrush:before { content: "\f210"; }
.cleanicon-toothbrush-1:before { content: "\f211"; }
.cleanicon-two-burners-from-top-view:before { content: "\f212"; }
.cleanicon-two-single-beds-and-a-small-table-in-the-middle-of-bedroom-furniture:before { content: "\f213"; }
.cleanicon-umbrella:before { content: "\f214"; }
.cleanicon-vacuum:before { content: "\f215"; }
.cleanicon-vintage-turntable-audio-tool:before { content: "\f216"; }
.cleanicon-vintage-water-pump:before { content: "\f217"; }
.cleanicon-wall-socket-of-three-holes-in-rectangular-shape:before { content: "\f218"; }
.cleanicon-washing-machine:before { content: "\f219"; }
.cleanicon-water-closet:before { content: "\f21a"; }
.cleanicon-water-tap-on-pipes:before { content: "\f21b"; }
.cleanicon-watering-can-silhouette:before { content: "\f21c"; }
.cleanicon-watering-pipes-for-gardening:before { content: "\f21d"; }
.cleanicon-wheelbarrow-tool-for-yard:before { content: "\f21e"; }
.cleanicon-window-building-detail:before { content: "\f21f"; }
.cleanicon-wine-bottles-on-a-rack:before { content: "\f220"; }
.cleanicon-wine-glass:before { content: "\f221"; }
.cleanicon-wood-fence-of-yard:before { content: "\f222"; }
.cleanicon-wrench-silhouette-in-horizontal-position:before { content: "\f223"; }
.cleanicon-yard-bird-feeder:before { content: "\f224"; }
.cleanicon-yard-deck-chair:before { content: "\f225"; }
.cleanicon-yard-fountain:before { content: "\f226"; }
.cleanicon-yard-hosepipe-in-spiral:before { content: "\f227"; }
.cleanicon-yard-pot-with-saguaro-cactus:before { content: "\f228"; }
.cleanicon-yard-scissors-for-gardening:before { content: "\f229"; }
.cleanicon-yard-stone-floor-architectonic-detail:before { content: "\f22a"; }
.cleanicon-yard-tool-shape:before { content: "\f22b"; }
.cleanicon-yard-tree-in-a-pot:before { content: "\f22c"; }
.cleanicon-yard-tree-of-circular-shape-in-a-pot:before { content: "\f22d"; }