
<div class="right-content">
    <div class="main-content">
     
       <app-add-edit-team [ItemEdit]="itemEdit" (refreshTable)="refreshTableData($event)"></app-add-edit-team>
        <div class="real-content">
          <div class="row">
              <div class="col-md-12">
                  <div class="table-responsive">
                      <table mat-table   [dataSource]="dataSource" matSort class="mat-elevation-z8">
                        <ng-container matColumnDef="Id">
                          <tr>
                            <th mat-header-cell *matHeaderCellDef>
                              <div mat-header></div>
                            </th>
                            <td mat-cell *matCellDef="let element">
                              <a (click)="fillData(element)">
                                <span class="fas fa-pen"></span>
                              </a>
                            </td>
                          </tr>
                        </ng-container>

                        <ng-container matColumnDef="eye">
                          <th mat-header-cell *matHeaderCellDef><span  class="fa fa-eye" style="color: dodgerblue;"></span></th>
                          <td mat-cell *matCellDef="let element" style="cursor:pointer;color: dodgerblue;">
                            <span class="fa fa-eye" (click)="ViewDetils(element)"></span>
                          </td>
                        </ng-container>
                        <ng-container matColumnDef="name">
                              <tr>
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                  <a class="fas fa-search" (click)="showFilter('name')" ></a>
                                  <div class="table-sort">{{'teams.name'| translate}}</div>
                                        <div class="clear"></div>
                                          <input  type="text" [(ngModel)]="namefilter"
                                          (keyup)="applyFilter($event?.target,'name')"
                                         [class]="shownamefilter? 'form-control table-search left display' : 'form-control table-search left'" />

                                </th>
                                <td mat-cell *matCellDef="let element">{{element.name}}</td>
                              </tr>
                          </ng-container>

                          <ng-container matColumnDef="city">
                              <tr>
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                  <a class="fas fa-search" (click)="showFilter('city')"  ></a>
                                  <div class="table-sort">{{'teams.city'| translate}}</div>
                                 
                                    <div class="clear"></div>
                                      <input [(ngModel)]="cityfilter" type="text"
                                      (keyup)="applyFilter($event?.target,'city')"
                                         [class]="showcityfilter ? 'form-control table-search left display' : 'form-control table-search left'" />
                                 
                                 
                                </th>
                                <td mat-cell *matCellDef="let element">{{element.city}}</td>
                              </tr>
                          </ng-container>

                          <ng-container matColumnDef="coach">
                            <tr>
                              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                <div class="table-sort">{{'teams.coach'| translate}}</div>
                              </th>
                              <td mat-cell *matCellDef="let element">{{element.coach}}</td>
                            </tr>
                        </ng-container>

                        <ng-container matColumnDef="creationDate">
                            <tr>
                              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                <div class="table-sort">{{'teams.creationDate'| translate}}</div>
                                <div class="clear"></div>  
                              </th>
                              <td mat-cell *matCellDef="let element">
                               {{element.creationDate | date: 'dd/MM/yyyy hh:mm a'}}
                            </td>
                            </tr>
                        </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                     
                  </div>

                  <mat-paginator [pageSizeOptions]="[10, 50, 100]"
                  showFirstLastButtons 
                  aria-label="Select page of periodic elements">
                  </mat-paginator>
            
              </div>
          </div>
        </div>
     
  </div>

</div>