nav.header .container-fluid {
    padding-right: 15px;
}
.right-content {
    padding-right: 0px;
}


/******************* Request Timeline *******************/


.timeline-step.start:before {
    margin: 0 50% 0 0;
}

.timeline-step.active img{
    left: 20px;
    right: unset;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.timeline-step .time,.timeline-step .title{
    right: 0;
    left: unset;
}



div.timeline-step {
    float: right;
}

div.timeline-step.end:after {
    right: 50%;
    left: unset;
}
div.timeline-step.end .time, div.timeline-step.end .title{
    right: 50%;
    left: unset;
}


div.timeline-step.start{
    margin: 0 8.3% 0 0;
}


div.timeline-step.start:after {
    left: 50%;
    right: unset;
}

div.timeline-step.start .time, div.timeline-step.start .title{
    right: -50%;
    left: unset;
}