
/**** bootstrap tab ****/
.tab-content {
    padding: 15px 0 10px 0;
}
.col-xs-5ths {
    float: right;
}
@media (min-width: 768px) {
    .col-sm-5ths {
        float: right;
    }
}
@media (min-width: 992px) {
    .col-md-5ths {
        float: right;
    }
}
@media (min-width: 1200px) {
    .col-lg-5ths {
        float: right;
    }
}

.icon-filter-bar ul li a {
    border-right: 1px dashed #c6d2d9;
    border-left: unset;
}

.icon-filter-bar ul li:first-child a {
    border-right: 0;
    border-left: unset;
}


.icon-filter-bar ul li.active a:after {
    left: 2px;
    right: unset;
}
/*************** End Icon Filter Bar ****************/

.corner-btn {
    left: 0;
    right: unset;
}

fieldset.scheduler-border > .corner-btn {
    border-radius: 5px 0 0 0 ;
}
/*************** Start Info Block ****************/

.info-block {
    padding: 10px 35px 10px 10px;
    margin: 5px 25px 10px 0px;
}
.info-block .info-icon {
    right: -25px;
    left: unset;
}


/*************** End Info Block ****************/

.patient-panel {
    border-radius: 10px 0 0 10px;
}
.patient-panel .panel-header {
    border-radius: 10px 0px 0px 10px;
}
.patient-panel .panel-header .panel-heading-collapse {
    float: left;
}

.patient-panel .panel-item .status {
    margin-left: 0.25rem;
    margin-right: unset;
}

.patient-panel .panel-item .location,
.patient-panel .panel-item .time {
    margin: 0 0 0 5px;
}

.action-box {
    text-align: right;
}


.action-box i {
    margin-left: 4px;
    margin-right: unset;
}

.action-box a:first-child:hover,
.action-box a:first-child.selected {
    border-radius: 3px 0 0 3px;
}
.action-box a:last-child:hover,
.action-box a:last-child.selected {
    border-radius: 0 3px 3px 0;
}

.modal-body .tools {
    text-align: left;
}

.timeline-box::after {
    margin-right: 0;
    margin-left: unset;
}

.timeline-box .icon-circle::after {
    right: -4.55px;
    left: 0;
}

.actions {
    float: left;
    left: -10px;
    right: unset;
}
.actions a {
    float: left;
}

.actions a::before {
    right: 0;
    left: unset;
}

.Observation[data-GCSScore]::before {
    margin-right: 0;
    margin-left: unset;
    left: 10%;
    right: unset;
}

.total-value {
    margin-right: 42px;
    margin-left: unset;
}
.score-icon {
    margin-left: 10px;
    margin-right: unset;
}

@media (max-width: 800px) {
    .no-padding-left {
        padding-right: 15px;
        padding-left: 0;
    }
    .no-padding-right {
        padding-left: 15px;
        padding-right: 0;
    }
}


.patient-status-name {
    float: right;
}
.scheduler-border .patient-status {
    float: right;
}

/* ---------------------------------------- jquery-ui-timepicker-addon ---------------------------------------- */
.ui-timepicker-div dl {
    text-align: right;
}
.ui-timepicker-div dl dt {
    float: right;
    clear: right;
    padding: 0 5px 0 0;
}
.ui-timepicker-div dl dd {
    margin: 0 40% 10px 10px;
}

.ui-timepicker-div.ui-timepicker-oneLine dl {
    text-align: left;
}

.icon-filter-btns ul li.active a:after {
    left: 2px;
    right:unset;
}
