/************************************************** scrollbar ********************************************************/
img{max-width:100%;}
* {scrollbar-color: #20466b #fff;scrollbar-width: thin;}
/* width */::-webkit-scrollbar {width: 5px;height: 5px;}
/* Track */::-webkit-scrollbar-track {background: #dedfe0cf;margin: 4px 0;}
/* Handle */::-webkit-scrollbar-thumb {background: #1e6bac;}
/* Handle on hover */::-webkit-scrollbar-thumb:hover {background: #104878;}
/*********************************************** bootstrap edit **********************************************/
label {margin-bottom: 2px;}
.checkbox input[type=checkbox],.checkbox-inline input[type=checkbox],.radio input[type=radio],.radio-inline input[type=radio] {margin: 0 -17px 0 -17px;}
.checkbox,.radio {margin-bottom: 1px;margin-top: 5px;}
.checkbox label,.radio label {font-weight: 700;}
table .radio {margin: 0;}
/**** bootstrap tab ****/
.tab-content {padding: 10px 0 15px 0;}
.nav-tabs>li>a {padding: 5px 10px;}
.wd-100 {width: 100% !important;}
.wd-90 {width: 90% !important;}
.wd-80 {width: 80% !important;}
.wd-85 {width: 85% !important;}
.wd-70 {width: 70% !important;}
.wd-60 {width: 60% !important;}
.wd-50 {width: 50% !important;}
.wd-55 {width: 55% !important;}
.wd-40 {width: 40% !important;}
.wd-20 {width: 20% !important;}
.wd-8 {width: 8% !important;}
.wd-15 {width: 15% !important;}
.wd-5 {width: 5% !important;}
.wd-1 {width: 1% !important;}
.ht-100 {height: 100px !important;}
@media (min-width: 1199px) {.mt-10-lg {margin-top: 0 !important;}}
@media (min-width: 992px) and (max-width: 1199px) {.mt-10-md {margin-top: 0 !important;}}
/* 5 col bootstrap */
.col-xs-5ths,.col-sm-5ths,.col-md-5ths,.col-lg-5ths {position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px;}
.col-xs-5ths {width: 20%;float: left;}
@media (min-width: 768px) {.col-sm-5ths {width: 20%;float: left;}}
@media (min-width: 992px) {.col-md-5ths { width: 20%; float: left;}}
@media (min-width: 1200px) {.col-lg-5ths {width: 20%; float: left;}}
/************************************************* Material Override ************************************************/
.hint-bar {
  line-height: 20px;
  opacity: 0.8;
}
.border-bottom {
  border-bottom: 1px solid #1e6bac;
  margin-bottom: 30px;
}

.cdk-overlay-container {
    z-index: 1040 !important;
}

.validation {
    color: red;
    font-size: 12px;
}

.field-error {
    border-color: red !important;
}


.toast-container .ngx-toastr {
    position: relative;
    overflow: hidden;
    margin: 0 0 6px;
    padding: 15px 15px 15px 50px;
    width: 300px;
    border-radius: 3px 3px 3px 3px;
    background-position: 15px center;
    background-repeat: no-repeat;
    background-size: 24px;
    box-shadow: 0 0 12px #999999;
    color: #FFFFFF;
  }
  .toast-container .ngx-toastr:hover {
    box-shadow: 0 0 12px #000000;
    opacity: 1;
    cursor: pointer;
  }
  .light-blue .mat-form-field-infix { background: #d8e8f7;}
/************************************************* form ************************************************/

a:hover{text-decoration: none;}
button,input,select,textarea {scrollbar-width: initial;}
.scheduler-border .form-group:last-of-type {margin-top: 0;}
fieldset .form-group{margin-bottom: 5px;}
fieldset.scheduler-border {border: solid 1px #b7d2ee !important;padding: 0 5px 5px;border-bottom: none;margin-bottom: 8px;border-radius: 3px; }
legend.scheduler-border {width: auto !important;border: none;font-size: 13px;color: #1e6bac;padding: 0 10px;margin-bottom: 5px;font-weight: 600;background: #fff; clear: both; float: none;}
.form-control[disabled],.form-control[readonly],fieldset[disabled] .form-control {background-color: #eee;opacity: 0.7;}
.scheduler {border: solid 1px #c1c1c1b3;padding: 10px 10px;box-shadow: 0px 0px 4px #a8a6a6;}
table,table.dataTable {margin-top: 0 !important;}
/*************************************************** Inline Editing ****************************************/
.row-inline-editable input,.row-inline-editable select,.row-inline-editable .chosen-container {display: none;}
.row-inline-editable.active input,
.row-inline-editable.active select {display: inline;}
.row-inline-editable.active .chosen-container {display: inline-block;}
.row-inline-editable.active .chosen-container span {display: inline;}
.row-inline-editable.active span {display: none;}
.row-inline-editable.active {background-color: inherit !important;}
.newrow,.newrow1,.componentNewRow,.package-payment-row,.nurse-newrow {display: none;}
.table>tbody>tr.notsaved td {background: #f0ffddeb;}
table.dataTable>thead>tr>th {border-bottom: 1px solid #1e6bac; padding:4px 5px;}
.table.dark-header thead th {padding: 4px 8px;}
.row-inline-editable span.editable {display: inline;}
.row-inline-editable.active span {display: block;}
.row-inline-editable.active span.editable,.row-inline-editable span {display: none;}
.editable.label {font-weight: 500;font-size: inherit;}
.select2-container--disabled .select2-selection--single .select2-selection__rendered {opacity: 0.7;}
.input-group > [formcontrolname="ComplaintListStr"] {
  width: auto;
  flex: 0 0 50%;
}

  .input-group > [formcontrolname="ComplaintListStr"] .select2-container input {
    margin-top: 0;
  }

  .input-group > [formcontrolname="ComplaintListStr"] .select2-container .select2-selection--multiple .select2-selection__choice {
    line-height: 14px;
    background: #e0e8f0;
    border-color: #a2cfee;
    margin-top: 0px;
  }
/**********************************************************************************************/
.lighter.left-col{background: #dbeaf7;}
.lighter.left-col .left-nav{background: unset;}

.color-filter{
    margin-right: 1rem;
    /* text-align: right; */
    text-align: center;
}
.color-filter>i{
    color: gray;
    position: relative;
    cursor: pointer;
}
.color-filter.filtered> i:after{
    content: " ";
    position: absolute;
    right: -7px;
    top: 0px;
    z-index: 0;
    background: red;
    height: 7px;
    width: 7px;
    border-radius: 50%;

}
.color-filter .dropdown-menu{background: #FFFFFF;margin: 10px;padding: 0;-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);box-shadow: 0 6px 12px rgba(0,0,0,.175);}
.color-filter ul {white-space: normal;text-align: center;padding: 0;}
.color-filter ul li {padding: 5px 6px;font-size: 12px;opacity: 0.5;display: inline;white-space: normal;line-height: 20px;}
.color-filter ul li.active {opacity: 1;}
.color-filter ul li a,.color-filter ul li a:focus ,.color-filter ul li a:hover{color: #1e6bac;}
.color-filter ul li a i {margin: 5px;color: #ffffff;text-shadow: 0 0 1px #fff;font-size: 15px;}
.color-filter ul li.red a i {color: red;}
.color-filter ul li.yellow a i {color: yellow;}
.color-filter ul li.green a i {color: green;}
.color-filter ul li.purple a i {color: purple;}
.color-filter ul li.black a i {color: black;}
.color-filter ul li.orange a i {color: orange;}
.color-filter ul li.blue a i {color: blue;}
.color-filter ul li.coral a i{color: coral;}
.patient-panel {background: #fff;color: unset;margin: 10px;border-radius: 10px 10px 0 0;}
.patient-panel .panel-header {text-align: center;background: #1e6bac;padding: 5px;border-bottom: 1px solid #0a2948;box-shadow: 0 1px 0px rgba(255, 255, 255, 0.2);border-radius: 10px 10px 0px 0px;overflow: hidden;}
.patient-panel .panel-header h3{color: #fff;margin: 0;}
.patient-panel .panel-header .panel-heading-collapse {float:right;line-height: 22px;margin: 0 10px;cursor: pointer; color: #fff}
.left-col.active .patient-panel .panel-header .panel-heading-collapse {
    margin: 0;
}
.patient-panel .panel-list {padding: 0;margin: 0; border-left: 1px solid #4e657b; border-right: 1px solid #4e657b;}
.patient-panel .panel-item {padding: 10px;border-bottom: 1px solid #4e657b;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;cursor: pointer;}
.left-col.active .patient-panel .panel-item {
    text-align: center;
}
.patient-panel .panel-item:hover {background: rgba(51, 112, 170, 0.5);}
.patient-panel .panel-item.active {background: orange;}
.patient-panel .panel-item .status{width: 10px;height: 10px;display: inline-block;background: #ffffff;border-radius: 50%;margin-right: .25rem;}
.patient-panel .panel-item.red .status{background: red;}
.patient-panel .panel-item.yellow .status{background: yellow;}
.patient-panel .panel-item.orange .status {background: orange;}
.patient-panel .panel-item.blue .status {background: blue;}
.patient-panel .panel-item.green .status{background: green;}
.patient-panel .panel-item.purple .status{background: purple;}
.patient-panel .panel-item .location,.patient-panel .panel-item .time{font-size: 10px;margin: 0 5px 0 0;}
.patient-panel .panel-item .name{}
.patient-panel .panel-item .mr {
    font-size: 10px;
    font-style: italic;
}
.patient-panel .panel-item .mr::before {
    content: "#";
}
/*************** Start Icon Filter Bar ****************/
.left-col.active .icon-filter-bar ul{
    display: none;
}

.icon-filter-bar ul{
    display: flex;
    padding: 0;
    border: 1px solid #c6d2d9;
    margin: 0 10px;

}
.icon-filter-bar ul li{
    width: 20%;
    text-align: center;
    background: rgb(249,249,249);
}
.icon-filter-bar ul li:hover{
    background: #e4eaee;
}

.icon-filter-bar ul li.active{
    background: #dbeaf7;
    background: #eaf1f8;
}
.icon-filter-bar ul li.active a i {
    opacity: 0.5;
}

.icon-filter-bar ul li a {
    text-decoration: none;
    color: #333;
    border-left: 1px dashed #c6d2d9;
    margin: 5px 0;
    display: block;
    position: relative;
}

.icon-filter-bar ul li:first-child a{
    border-left: 0;
}

.icon-filter-bar ul li.red a{
    color: #dc3545;
}
.icon-filter-bar ul li.orange a{
    color: #fd7e14;
}
.icon-filter-bar ul li.yellow a{
    color: #ffc107;
}
.icon-filter-bar ul li.green a{
    color: #198754;
}
.icon-filter-bar ul li.blue a{
    color: #0d6efd;
}

.icon-filter-bar ul li.active a:after {
    content: "\f00d";
    content: "\f0b0";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;

    position: absolute;
    bottom: 2px;
    right: 2px;
    color: gray;
    font-size: .7em;
}
.icon-filter-bar ul li a i {
    font-size: 2em;
    line-height: 1.2em;

}
/*************** End Icon Filter Bar ****************/


.corner-btn {
    position: absolute;
    top: 0;
    right: 0;
}

fieldset.scheduler-border > .corner-btn {
    top: -14px;
    border-radius: 0 5px 0 0;
    padding: 5px 10px;
}
.row > .corner-btn{
    top: 0;
    width: 30px;
}

.corner-btn:hover .fas, .corner-btn:focus .fas {
    position: unset;
}

/*************** Start Info Block ****************/

.info-block {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 60px;
  border: 3px solid #3a7db6;
  padding: 0px 10px 0px 35px;
  margin: 0px 0 5px 25px;
  background: #f0f9ff;
}
.info-block .info-icon{
    width: 50px;
    height: 50px;
    position: absolute;
    background: radial-gradient(circle, rgb(249, 249, 249) 0%, rgb(237, 237, 237) 100%);
    background: #f0f9ff;
    border-radius: 50%;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    top: calc(50% - 25px);
    left: -25px;
    border: 2px solid #3a7db6;
}

.info-block .info-text{
    width: 100%;
}


.info-block .info-text b{
    color: #3a7db6;
}
.info-block .info-text p, .info-block .info-text span {
    line-height: 18px;
}

.info-block.red{
    border: 3px solid #dc3545;
}
.info-block.red .info-icon{
    border: 2px solid #dc3545;
    color: #dc3545;
    font-size: 2.5em;
    line-height: 2.1;
}

.info-block.orange{
    border: 3px solid #fd7e14;
}
.info-block.orange .info-icon{
    border: 2px solid #fd7e14;
    color: #fd7e14;
    font-size: 2.2em;
    line-height: 2.2;
}

.info-block.yellow{
    border: 3px solid #ffc107;
}
.info-block.yellow .info-icon{
    border: 2px solid #ffc107;
    color: #ffc107;
    color: #b59740;
}

.info-block.green{
    border: 3px solid #198754;
}
.info-block.green .info-icon{
    border: 2px solid #198754;
    color: #198754;
    font-size: 2.2em;
    line-height: 2;
}

.info-block.blue{
    border: 3px solid #1e6bac;
}
.info-block.blue .info-icon{
    border: 2px solid #1e6bac;
    color: #1e6bac;
    font-size: 2.2em;
    line-height: 2;
}


  .info-block.white {
    border: 3px solid #eeeeee;
  }

    .info-block.white .info-icon {
      border: 2px solid #eeeeee;
      color: gray;
      font-size: 2.5em;
      line-height: 2.1;
    }

  .info-block .info-text .info-tag {
    background: #1e6bac20;
    border-radius: 5px;
    padding: 2px 10px;
  }

/*************** End Info Block ****************/


.patient-panel {background: #fff;color: unset;margin: 10px;border-radius: 10px 10px 0 0;}
.patient-panel .panel-header {text-align: center;background: #1e6bac;padding: 5px;border-bottom: 1px solid #0a2948;box-shadow: 0 1px 0px rgba(255, 255, 255, 0.2);border-radius: 10px 10px 0px 0px;overflow: hidden;}
.patient-panel .panel-header h3{color: #fff;margin: 0;}
.patient-panel .panel-header .panel-heading-collapse {float:right;line-height: 22px;margin: 0 10px;cursor: pointer; color: #fff}
.left-col.active .patient-panel .panel-header .panel-heading-collapse {
    margin: 0;
}
.patient-panel .panel-list {padding: 0;margin: 0; border-left: 1px solid #4e657b; border-right: 1px solid #4e657b;}
.patient-panel .panel-item {padding: 10px;border-bottom: 1px solid #4e657b;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;cursor: pointer;}
.left-col.active .patient-panel .panel-item {
    text-align: center;
    padding: 10px 5px;
}
.left-col.active .patient-panel .panel-item .fa-exclamation-triangle {
    font-size: 1em;
}

.patient-panel .panel-item:hover {background: rgba(51, 112, 170, 0.5);}
.patient-panel .panel-item.active {background: orange;}
.patient-panel .panel-item .status{width: 10px;height: 10px;display: inline-block;background: #ffffff;border-radius: 50%;margin-right: .25rem;}
.patient-panel .panel-item.red .status{background: red;}
.patient-panel .panel-item.yellow .status{background: yellow;}
.patient-panel .panel-item.orange .status {background: orange;}
.patient-panel .panel-item.blue .status {background: blue;}
.patient-panel .panel-item.green .status{background: green;}
.patient-panel .panel-item.purple .status{background: purple;}
.patient-panel .panel-item.white .status {
  background: #e0e0e0;
  border: 1px solid gray;
}
.patient-panel .panel-item .location,.patient-panel .panel-item .time{display:none;font-size: 10px;margin: 0 5px 0 0;}
.patient-panel .panel-item .name{ }
.patient-panel .panel-item .mr {
  display: none;
  font-size: 10px;
  font-style: italic;
}
.patient-panel .panel-item .mr::before {
    content: "#";
}
/* ---------------------- info box xtra small --------------------- */
.box-xtra-small .info-box {height: 35px;margin-bottom: 0px;margin-top: -5px;box-shadow: none;}
.box-xtra-small .info-box .icon i::before {font-size: 23px;line-height: 35px;}
.box-xtra-small .info-box .content {padding: 1px 10px;}
.box-xtra-small .info-box .icon {width: 50px;}
.box-xtra-small .info-box .content .text {font-size: 11px;margin-top: 2px;}
.box-xtra-small .info-box .content .number,.box-xtra-small .bg-pink .content .number a,.box-xtra-small .info-box .content .number a:hover {font-size: 18px;margin-top: 2px;}
/*  */
.page-title .page-filter {background: #d8e8f7;padding: 15px 0;margin-top: 0;}
.ui-datepicker .ui-datepicker-title select {color: #555;}
legend i{font-size: 17px;}
.box-status{width: 40px;height: 40px;display: inline-block;background: #ffffff;border-radius: 50%;}
.box-status .red{background: red;}
.box-status .yellow{background: yellow;}
.box-status .green{background: green;}
.box-status .orange{background: orange;}
.box-status .blue{background: blue;}
.count-box{background: #666 !important;border-radius: 5px;color: #fff !important;padding: 0 2px;font-size: 11px;font-weight: 900;}
.panel-header .count-box {background: #054068 !important;color: #fff !important;padding: 3px 8px 4px;border-radius: 15px;}
.patient-status {padding: 0px;text-align: center;}
.patient-status i {font-size: 6em;color: #979595;}
.patient-status.small-icon i {font-size: 3em;}
.patient-status.red i{color: #dd0610;}
.patient-status.yellow i{color: yellow;text-shadow: 3px 1px 4px #bbb;}
.patient-status.green i{color: green;}
.patient-status.orange i{color: orange;}
.patient-status.blue i{color: blue;}
.patient-panel .panel-list {max-height: 165px;overflow: hidden;overflow-y: auto;}
label i{color:#1e6bac;
cursor: pointer;}
.filter-collapse .page-filter {background: unset;padding: 10px 0;}
/*  */
.action-box{text-align: left;}
.action-box a {padding: 2px 5px;cursor: pointer;transition: all 0.4s;-webkit-transition: all 0.4s;-moz-transition: all 0.4s;-o-transition: all 0.4s;-ms-transition: all 0.4s;display: block;font-size: 13px;font-weight: 700;margin-bottom: 1px;color: #fff;text-decoration: none;border-bottom: 1px solid #b7d2ee8f;}
.action-box a:last-child{border-bottom: none;}
.action-box a.disabled {
  cursor: no-drop;
  opacity: 0.3;
}
.action-box a.disabled:hover{
 background: initial;
 color: #fff;
}

.action-box i{font-size: 20px !important;margin-right: 4px;padding: 5px 0 !important;display: inline-block;}
.action-name{position: relative;top: -4px;}
.action-box a:hover,.action-box a.selected{color: #595855;background-color: #ffc356;text-decoration: none;}
.action-box a:first-child:hover,.action-box a:first-child.selected {border-radius: 3px 3px 0 0;}
.action-box a:last-child:hover,.action-box a:last-child.selected {border-radius: 0 0 3px 3px;}
.action-box-section{margin-top: 15px;border-radius: 0;}
.action-box-section.blue{background: #114a79;}
.action-box-section.lighter-blue{background: #3085bf;}
.action-box-section.green{background: #0e8417;}
#patient-status option[value=immediate]{background-color: red;color:#fff;}
#patient-status option[value=very-urgent] {background-color: orange;}
#patient-status option[value=urgent] {background-color: yellow;}
#patient-status option[value=standard] {background-color: green;color: #fff;}
#patient-status option[value=no-urgent] {background-color: blue;color: #fff;}
.scheduler-border.patient-summary.immediate {
    background-color: #c12e34;
    background-image: linear-gradient(326deg, #c12e34 0%, #fff 74%);
    border: solid 1px #c12e34 !important;
    background: #c12e3430;
}
.scheduler-border.patient-summary.very-urgent {
    background-color: #FF9800;
    background-image: linear-gradient(326deg, #FF9800 0%, #fff 74%);
    border: solid 1px #FF9800 !important;
    background: #FF980030;
}
.scheduler-border.patient-summary.urgent {
    background-color: #ffc356;
    background-image: linear-gradient(326deg, #ffc356 0%, #fff 74%);
    border: solid 1px #ffc356 !important;
    background: #ffc35630;
}
.scheduler-border.patient-summary.standard {
    background-color: #10961a;
    background-image: linear-gradient(326deg, #10961a 0%, #fff 74%);
    border: solid 1px #10961a !important;
    background: #10961a30;
}
.scheduler-border.patient-summary.no-urgent {
    background-color: #3085bf;
    background-image: linear-gradient(326deg, #3085bf 0%, #fff 74%);
    border: solid 1px #3085bf !important;
    background: #3085bf30;
}
/*  */
.modal-body {padding: 5px 15px 15px}
.modal-header{padding: 15px 15px 5px;}
.tools a i {border: 2px solid #1e6bac;border-radius: 50%;line-height: 17px;color: #1e6bac;font-size: 15px;padding: 4px 3px;cursor: pointer;transition: all 0.4s;-webkit-transition: all 0.4s;-moz-transition: all 0.4s;-o-transition: all 0.4s;-ms-transition: all 0.4s;display: inline-block;width: 28px;height: 28px;}
.tools a:hover i,.modal-body .tools a:hover i{color: #ffc356;border-color: #ffc356;text-decoration: none;}
.modal-body .tools{text-align: right;margin-bottom: 5px}
.modal-body .tools a i {border: 0;line-height: 17px;color: #1e6bac;font-size: 16px;padding: 1px 3px;width: auto;height: auto;}
.modal-title i {font-size: 25px;}
.modal-body .page-filter {background: #d8e8f7;padding: 8px 15px 5px;margin-bottom: 8px;}
.modal-body .page-filter .form-group {margin-bottom: 4px;}
.modal-title-name{position: relative;top: -4px;}
/*  */
.filter-form-title {background: #1e6bac;color: #fff !important;padding: 6px 15px;}
.filter-form-title.red{background: #dd0610;}
.filter-form-title.yellow{background: yellow;color: #5b5b59 !important;}
.filter-form-title.orange{background: orange;}
.filter-form-title.blue{background: blue;}
.filter-form-title.green{background: green;}
.filter-form-title.purple{background: purple;}
.filter-form-title.yellow .actions a i{color: #5b5b59 !important;;}
.timelineview {display: block;position: relative;margin: 5px auto 5px;}
.profile-img {margin: 0 8px 3px;text-align: center;}
.profile-img img {height: 111px;border: 1px solid #d7d2d2;}
.timeline-content h2{margin-bottom: 0px;margin-top: 0;color: #296dac;font-size: 16px;}
.timeline-content h2 i{font-size:17px;}
.timeline-box-content {text-align: center;border-radius: 2px;margin: -23px 15px 2px;padding: 21px 0 5px;line-height: 17px;}
.timeline-box-content h3 {margin: 10px auto 0px;color: #3b3737 !important;font-weight: bold;}
.timeline-box-content p {line-height: 12px;padding-top: 10px;font-size: 11px;font-weight: 600;color: #1e548480;}
.timeline-box-content.active p,.timeline-box-content.select p {color: #1e5484;}
.timeline-box {text-align: center;margin-bottom: 0;z-index: 100;margin-top: 5px;max-height: 80px;}
.timeline-box a {text-decoration: none;}
.timeline-box a:hover {color: #fdae0e;}
.timeline-box::after {content: "";border-bottom: 2px #d2e1ee solid;position: absolute;width: 50%;top: 25px;margin-left: 0;z-index: 9;}
.timeline-box:last-child::after {content: "";border-bottom: none;}
#ImgView {display: block;margin: auto;}
.timeline-box .icon-circle {position: relative;width: 50px;height: 50px;border-radius: 9%;background: #e0eaf3;text-align: center;padding: 8px 0;color: #3b3737;margin-left: auto;margin-right: auto;z-index: 100;line-height: 43px;}
.timeline-box .icon-circle i{font-size: 2.80em;}
.timeline-box .icon-circle a {position: relative;z-index: 2000;color: #1e548466;cursor: pointer;}
.timeline-box .icon-circle::after {content: '';border: 2px solid #d2e1ee;border-radius: 10%;width: 59px;height: 59px;position: absolute;left: -4.55px;top: -0.65px;bottom: 0;right: 0;margin: auto;}
.timeline-box .icon-circle.select {color: #1e54ad;background: #d6e0e9;}
.timeline-box .icon-circle.select a {cursor: pointer;}
.timeline-box .icon-circle.active::after {border: 2px solid #fdae0e;}
.timeline-box .icon-circle.active {background: #fdae0e;color: #fff;}
.timeline-box .icon-circle.active a {cursor: pointer;color: #fff;}
.actions {float: right;z-index:100;position: relative;right: -10px;top: -6px;}
.actions a {float: right;position: relative;text-align: center;-webkit-transition: all ease 0.3s;transition: all ease 0.3s;line-height: 29px;height: 30px;width: 30px;font-size: 16px;color: #0463bf;}
.actions a:hover {background-color: #ffbb00;color: #333;}
.actions a i {border: none;border-radius: 0;color: #fff;font-size: 16px;padding: 3px;/*! margin-top: -3px; */}
.actions a::before {content: "";height: 29px;width: 1px;position: absolute;left: 0;top: 0;background: -webkit-gradient(linear, left top, left bottom, from(rgba(174, 203, 231, 0)), color-stop(50%, rgba(174, 203, 231, 1)), to(rgba(255, 255, 255, 0)));background: linear-gradient(to bottom, rgba(174, 203, 231, 0) 0%, rgba(174, 203, 231, 1) 50%, rgba(255, 255, 255, 0) 100%);filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00aecbe7', endColorstr='#00ffffff', GradientType=0);}
.actions a:last-child::before {width: 0;height: 0;}

.Observation[data-GCSScore]::before {color: #bd0707;position: absolute;top: 7px;margin-left: 0;z-index: 9;width: 50%;right: 10%;line-height: 18px;content: attr(data-GCSScore);}
 @media (min-width: 1200px) {
.timeline-box:nth-child(6n+6)::after {border-bottom: none;content: "";}
 .timeline-box:last-child::after {content: "";border-bottom: none;}
}
@media (min-width: 992px) and (max-width: 1199px) {
.timeline-box:nth-child(6n+6)::after {border-bottom: none;content: "";}
.timeline-box:last-child::after {content: "";border-bottom: none;}}
@media (min-width: 768px) and (max-width: 991px) {
.timeline-box:nth-child(3n+3)::after {border-bottom: none;content: "";}
.timeline-box:last-child::after {content: "";border-bottom: none;}
.Observation::before {content: "";}}
@media (max-width: 767px) {
.timeline-box:nth-child(2n+2)::after {border-bottom: none;content: "";}
.timeline-box:last-child::after {content: "";border-bottom: none;}
.Observation::before{content: "";}}
.section {border: 1px solid #c3dced;background-color: #f0f9ff;padding: 10px 8px;margin: 0px auto 15px;}
/*  */
.total-box{border-top: 1px solid #b7d2ee;padding: 20px 0 0;font-weight: 600;}
.total-value{margin-left: 42px;border: 1px solid #1e6bb3;padding: 3px 20px;border-radius: 3px;color: #1e6bb3;font-size: 14px;}
.score-item{display: flex;margin-bottom: 7px;}
.score-icon{width: 39px;height: 39px;margin-right: 10px;border: 1px #ccc solid;text-align: center;padding: 6px 0;;border-radius: 5px;color: #1e6bac;}
.score-icon i{font-size: 24px;}
.score-content{flex: 1;}
.score-box {  margin-top: 2px;}
.item-score{margin-bottom: 10px;font-weight: 600;}
.score-value{/*! padding: 3px 6px; */color: #1e6bb3;font-size: 15px;}

.display-flex{display: flex;}
.flex-item{flex: 1;padding: 0 5px;}
table textarea.form-control {height: 50px !important;}
.actions a.inactive i {color: #b7b7b7;}
.actions .inactive:focus,.actions .inactive:hover {cursor: no-drop;background: transparent;}
.patient-panel .panel-header h3 span:first-child{font-size:15px;}
@media (max-width: 800px) {.no-padding-left{padding-left: 15px;padding-right: 0;}.no-padding-right{padding-right: 15px;padding-left: 0;}}

.dnone{display: none;}
.dblok {display: block;}
.blank-msg {text-align: center;}
.blank-msg p{font-size: 18px;color: #4a7ca8;}
.blank-msg h3{font-size:21px;}
.blank-box{text-align: center;position: relative;width: 80%;margin: 8% auto 0;}
.blank-icon{ background: #dbeaf7;width: 140px;height: 140px;border-radius: 100%;padding: 24px 0;text-align: center;display: inline-block;color: #1e6bac;margin-bottom: 38px;}
.blank-icon i{font-size: 8em !important;}
.patient-status-name {/* position: absolute; *//* background: #fff; *//* top: 11px; */padding: 0 8px;float: left;margin-top: 12px;}
.scheduler-border .patient-status{float: left;}

/* ---------------------------------------- jquery-ui-timepicker-addon ---------------------------------------- */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; margin-bottom: 0;}
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 40%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
.ui-timepicker-div .ui_tpicker_unit_hide{ display: none; }
.ui-timepicker-div .ui_tpicker_time .ui_tpicker_time_input { background: none; color: inherit; border: none; outline: none; border-bottom: solid 1px #555; width: 95%; }
.ui-timepicker-div .ui_tpicker_time .ui_tpicker_time_input:focus { border-bottom-color: #aaa; }
.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 40% 10px 10px; }
/* Shortened version style */
.ui-timepicker-div.ui-timepicker-oneLine { padding-right: 2px; }
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_time,
.ui-timepicker-div.ui-timepicker-oneLine dt { display: none; }
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_time_label { display: block; padding-top: 2px; }
.ui-timepicker-div.ui-timepicker-oneLine dl { text-align: right; }
.ui-timepicker-div.ui-timepicker-oneLine dl dd,
.ui-timepicker-div.ui-timepicker-oneLine dl dd > div { display:inline-block; margin:0; }
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_minute:before,
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_second:before { content:':'; display:inline-block; }
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_millisec:before,
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_microsec:before { content:'.'; display:inline-block; }
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_unit_hide,
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_unit_hide:before{ display: none; }
/* datepicker theme */
.ui-datepicker .ui-datepicker-header,.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {border: 1px solid #2a75a8;background: rgba(30, 107, 172,.8)}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {color: #2a75a8;}
/*  */
td .form-inline .select2-container {width: 80% !important;}
/*
td .btn{padding: 3px 4px;}
*/
.sub-title h3 {margin-bottom: 1px;font-size:13px;}
h4 .glyphicon,table.table h4 .glyphicon {font-size: 11px;padding: 0px 1px 0px 1px;border-width: 2px;}
.page-title {padding: 5px 15px;}


/* Examination Patient Order Status */
.requestStatus,
.WaitingStatus,
.RejectedStatus,
.AcceptedStatus,
.ConfirmedStatus,
.BookedStatus {
    font-weight: bold;
}
.table .WaitingStatus {
    color: #FF9800;
}
.table .RejectedStatus {
    color: #e91e63 !important;
}
.table .AcceptedStatus {
    color: #10961a;
}
.table .ConfirmedStatus {
    color: #82a956 !important;
}
.table .BookedStatus {
    color: #00bcd4;
}

/********** update 6/12/2021 Yousef *********/

.patient-panel .panel-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.patient-panel .panel-header .medical-icon{
    color: #fff;
    font-size: 1.75em;
}

.left-col.active .patient-panel .panel-header h3{
    font-size: 12px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
}

/*.left-col.active{
    width: 60px;
}
.right-content.active {
    padding-left: 60px;
}*/

.left-col.active .panel-header{
    justify-content: center;
}
.left-col.active .patient-panel .panel-header h3 span,
.left-col.active .patient-panel .panel-header .panel-heading-collapse,
.left-col.active .color-filter,
.left-col.active .panel-item span{
    display: none !important;
}
.patient-panel .panel-header h3{
    display: flex;
    align-items: center;
    width: 100%;
}
.panel-header .count-box{
    margin-left: auto !important;
}
/*
.tooltip-class *{
    width: 150px;
    background-color: #fff;
    color: #000;
    line-height: 1.5;
}
.left-col .color-filter{
    background: #ffffff60;
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tools .dropdown-menu.add > li > a:hover{
    background-color: #e9ecef;
}
.tools .dropdown-menu.add::before{
    content: "";
    position: absolute;
    top: -7px;
    right: 12%;
    border-bottom: 0.6em solid;
    border-right: 0.6em solid transparent;
    border-top: 0;
    border-left: 0.6em solid transparent;
    color: #1e6bac;
}
.tools .dropdown-menu.add{
    inset: 15px auto auto 18px !important;
    min-width: 17rem;
}
.tools .dropdown-menu.add.add2{
    inset: 13px -16px auto auto !important;
}
.tools .dropdown-menu.action-box-section{
    min-width: 14rem;
}
.tools .action-box .action-box-section i,
.tools .action-box .action-box-section .action-box-actions.disabled i{
    height: auto;
    border: none;
    color: #fff;
}
.tools .action-box-section .action-box-actions:hover i{
    color: #595855;
}
.tools .action-box #dropdownMenuLink1{
    padding: 0;
    border: none;
}
.tools .action-box #dropdownMenuLink1 i,
.tools .action-box .collapse1 i{
    font-size: 15px !important;
    padding: 3px !important;
}
.tools .action-box #dropdownMenuLink1:hover,
.tools .action-box #dropdownMenuLink1.selected{
    background-color: transparent;
}
.tools .dropdown-toggle.selected i,
.tools a.dropdown-toggle:focus i{
    color: #ffc356;
} */
/******  Multilevel Dropdown  ******/
.dropdown-menu .multilevel-dropdown{
    /* inset: -41px 193px auto auto !important;
    inset: -2px 95px auto auto !important; */
}
/* .action-box .dropdown-toggle.text-dark i{
    font-size: 11px !important;
    width: auto;
    height: auto;
}
.tools .action-box .dropdown-menu.add a.selected,
.tools .action-box .dropdown-menu.add a:focus{
    background-color: #e9ecef;
}
.tools .action-box .dropdown-menu.add a.action-box-actions.selected i,
.tools .action-box .dropdown-menu.add a.action-box-actions:focus i{
    color: #333;
}
.tools .action-box .dropdown-menu.add a.action-box-actions.selected,
.tools .action-box .dropdown-menu.add a.action-box-actions:focus{
    color: #333;
    background-color: #ffb400;
}
.tools .action-box .dropdown-menu.add .dropdown-toggle::after{
    display: none;
}
.collapse-wrapper.action-box a.selected,
.collapse-wrapper.action-box a:focus{
    background-color: transparent;
}
.tools .collapse .v-line{
    height: 90%;
    width: 2px;
    background-color: #eee;
    position: absolute;
    left: 15px;
    top: 6px;
}

.Msg .modal-header{
    padding: 1rem;
    padding-bottom: 0;
} */

/*  30/12/2021 Updates  */
.content-header{
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}
.content-header .form-control[disabled],
.content-header .form-select[disabled],
.content-header .select2-container--default.select2-container--disabled .select2-selection--single{
    background-color: #132b3b;
    color: #6E7583;
    opacity: 1;
    border-color: #132b3b;
    border-radius: 4px;
}
.content-header .select2-container--default .select2-selection--single .select2-selection__rendered{
    color: #6E7583;
    opacity: 1;
}
.danger-state{
    background-color: #dc3545 !important;
    color: #fff !important;
}
.normal-state{
    background-color: #0d6efd !important;
    color: #fff !important;
}
.warning-state{
    background-color: #ffc107 !important;
    color: #fff !important;
}

/* Waiting Area effect */

@-webkit-keyframes wa-glow {
    0% {
        text-shadow: 0 0 5px #1e6bac;
    }
    100% {
        text-shadow: 0 0 5px transparent;
    }
}
@keyframes wa-glow {
    0% {
        text-shadow: 0 0 5px #ffc356 ;
        /* filter: drop-shadow(0 0 #1e6bac); */
    }
    100% {
        text-shadow: 0 0 5px transparent;
        /* filter: drop-shadow(0 0 10px 8px transparent); */
    }
}
.active .wa-glow {
  color: #ffffff !important;
}
.wa-glow {
  -webkit-animation: wa-glow .5s ease infinite;
  animation: wa-glow .5s ease infinite;
  color: #ff5656 !important;
}
@-webkit-keyframes panel-glow {
    0% {
        box-shadow: 0 0 10px #ffc356;
    }
    100% {
        box-shadow: 0 0 10px transparent;
    }
}
@keyframes panel-glow {
    0% {
        box-shadow: 0 0 5px 1px #1e6bac ;
    }
    100% {
        box-shadow: 0 0 10px 1px transparent;
    }
}
.panel-glow{
    -webkit-animation: panel-glow .5s ease infinite;
            animation: panel-glow .5s ease infinite;
    border-bottom-color: #1e6bac !important;
}
.scheduler-border.text-white{
    border-radius: 4px;
}
.scheduler-border.text-white .patient-status i{
    color: #fff;
}
.content-header span.header-patient-data{
    padding: 0;
    margin: 0;
}
.content-header .text-group .header-patient-data:not(:last-child){
    border-right: 1px solid #fff;
}
.content-header .text-group .header-patient-data{
    padding: 0 10px;
}
.content-header .text-group{
    display: table-cell;
    align-items: center;
    color: #fff;
}
.content-header label{
    color: #98a1b3;
    display: inline-block;
}
.content-header.examination-patient{
    padding-left: 60px;
    position: relative;
}
.content-header.examination-patient .patient-status-wrapper{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    border: 4px solid #dc3545;
    border-radius: 3px;
    padding: 3px;
    width: 60px;
    background: #fff;
}
.content-header.examination-patient .patient-status-wrapper .patient-status-box{
    background-color:#dc3545 ;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}
/* .content-header.examination-patient::before{
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 5px;
    width: 10px;
    height: 80%;
    background-color:#dc3545 ;
    margin: auto;
    border-radius: 3px;
} */
.content-header.examination-patient p{
    padding-bottom: 0;
}
.content-header.examination-patient .complaint{
    display: flex;
    align-items: center;
}
.content-header.examination-patient .complaint .select2{
    max-width: 150px !important;
    margin-left: 1rem;
}



/***************** Filter Icon Btns ****************/
.icon-filter-btns ul {
    display: flex;
    padding: 0 5px;
}
.icon-filter-btns ul li {
    position: relative;
    width: 32px;
    height: 30px;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    background-color: #fbfbfb;
    text-align: center;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}
.icon-filter-btns ul li:hover {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
    background-color: #e5e5e5;
}
.icon-filter-btns ul li i{
    color: #ffffff;
    font-size: 1.5em;
    line-height: 22px;
}
.icon-filter-btns ul li.red{
    background: #dc3545;
}
.icon-filter-btns ul li.orange{
    background: #fd7e14;
}
.icon-filter-btns ul li.yellow{
    background: #ffc107;
}
.icon-filter-btns li.yellow i{
    font-size: 1.6rem;
}
.icon-filter-btns ul li.green{
    background: #198754;
}
.icon-filter-btns ul li.blue{
    background: #0d6efd;
}
.icon-filter-btns ul li.white {
  background: #ffffff;
}
  .icon-filter-btns ul li.white i {
    color: gray;
  }
.icon-filter-btns ul li.reset{
    background: #fff;
}
.icon-filter-btns ul li.reset i{
    color: gray;
    font-size: 1.0em;
}
.icon-filter-btns ul li a{
    text-decoration: none;
}
.icon-filter-btns ul li.active {
    /*opacity: .5;*/
    background: #d4d4d4;
}
.icon-filter-btns ul li.active a:after{
    content: "\f00d";
    content: "\f0b0";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    position: absolute;
    bottom: 2px;
    right: 2px;
    color: gray;
    font-size: .7em;
}

.btn-check+.btn-secondary {
    color: #fff;
    background-color: #90979d;
    border-color: #90979d;
    height: 22px;
    line-height: 1;
}
.btn-check:active+.btn-secondary, .btn-check:checked+.btn-secondary, .btn-secondary.active, .btn-secondary:active, .show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #1e6bac;
    border-color: #1e6bac;
}
/* don't know why but it was needed for the scrollable body of the modals */
.modal-dialog-scrollable .modal-body {
    max-height: calc(100vh - 150px);
}

/* hide the trauma and gcs field set legend in the popups*/
.hide-fielset-legend legend.scheduler-border {
  display: none;
}
.hide-fielset-legend fieldset {
  padding-top: 15px;
}