@font-face {
  font-family: 'medical-font';
  src:  url('../fonts/medical-font/medical-font.eot?5bt49j');
  src:  url('../fonts/medical-font/edical-font.eot?5bt49j#iefix') format('embedded-opentype'),
    url('../fonts/medical-font/medical-font.ttf?5bt49j') format('truetype'),
    url('../fonts/medical-font/medical-font.woff?5bt49j') format('woff'),
    url('../fonts/medical-font/medical-font.svg?5bt49j#medical-font') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.medical-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'medical-font' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ico-medical-stethoscope:before {
  content: "\e610";
}

.ico-medical-medical-specialist:before {
  content: "\e611";
}

.ico-medical-doctor:before {
  content: "\e612";
}

.ico-medical-stethoscope-1:before {
  content: "\e613";
}

.ico-medical-healthcare:before {
  content: "\e614";
}

.ico-medical-health-care:before {
  content: "\e615";
}

.ico-medical-person:before {
  content: "\e616";
}

.ico-medical-human-arm:before {
  content: "\e617";
}

.ico-medical-push-all-fingers-to-slide-and-expand:before {
  content: "\e618";
}

.ico-medical-cough:before {
  content: "\e619";
}

.ico-medical-blood-pressure:before {
  content: "\e620";
}

.ico-medical-blood-pressure-gauge:before {
  content: "\e621";
}

.ico-medical-pressure-gauge:before {
  content: "\e622";
}

.ico-medical-blood-pressure-1:before {
  content: "\e623";
}

.ico-medical-veins:before {
  content: "\e624";
}

.ico-medical-agiography:before {
  content: "\e625";
}

.ico-medical-neuron:before {
  content: "\e626";
}

.ico-medical-checklist:before {
  content: "\e627";
}

.ico-medical-view:before {
  content: "\e628";
}

.ico-medical-view-1:before {
  content: "\e629";
}

.ico-medical-eye:before {
  content: "\e630";
}

.ico-medical-doctor1:before {
  content: "\e700";
}

.ico-medical-doctor-1:before {
  content: "\e701";
}

.ico-medical-medical-equipment:before {
  content: "\e702";
}

.ico-medical-doctor-2:before {
  content: "\e703";
}

.ico-medical-woman-sitting-waiting-on-a-hair-salon-chair-observing-the-wall-clock:before {
  content: "\e704";
}

.ico-medical-medical-file:before {
  content: "\e705";
}

.ico-medical-medical-stethoscope-variant:before {
  content: "\e706";
}

.ico-medical-inquiry:before {
  content: "\e707";
}

.ico-medical-medical-record:before {
  content: "\e708";
}

.ico-medical-folder:before {
  content: "\e709";
}

.ico-medical-planing:before {
  content: "\e70a";
}

.ico-medical-hospital-bed:before {
  content: "\e70b";
}

.ico-medical-treatment:before {
  content: "\e70d";
}

.ico-medical-patient:before {
  content: "\e70e";
}

.ico-medical-ecg-lines:before {
  content: "\e800";
}

.ico-medical-blood-pressure-control-tool:before {
  content: "\e801";
}

.ico-medical-blood-pressure1:before {
  content: "\e802";
}

.ico-medical-blood-pressure-11:before {
  content: "\e803";
}

.ico-medical-oxygen:before {
  content: "\e804";
}

.ico-medical-heart-rate:before {
  content: "\e805";
}

.ico-medical-pulse:before {
  content: "\e806";
}

.ico-medical-monitor:before {
  content: "\e807";
}

.ico-medical-consultant:before {
  content: "\e809";
}

.ico-medical-consultant-1:before {
  content: "\e810";
}

.ico-medical-consultation:before {
  content: "\e811";
}

.ico-medical-front-desk:before {
  content: "\e812";
}

.ico-medical-medical-kit:before {
  content: "\e813";
}

.ico-medical-first-aid-kit:before {
  content: "\e814";
}

.ico-medical-first-aid-kit-1:before {
  content: "\e815";
}

.ico-medical-nanobot:before {
  content: "\e816";
}

.ico-medical-emergency-exit:before {
  content: "\e817";
}

.ico-medical-exit:before {
  content: "\e818";
}

.ico-medical-stretcher:before {
  content: "\e819";
}

.ico-medical-order:before {
  content: "\e820";
}

.ico-medical-exchange:before {
  content: "\e821";
}

.ico-medical-online:before {
  content: "\e822";
}

.ico-medical-hospitalization:before {
  content: "\e823";
}

.ico-medical-bed:before {
  content: "\e824";
}

.ico-medical-first-aid-kit1:before {
  content: "\e825";
}

.ico-medical-hospital-bed1:before {
  content: "\e826";
}

.ico-medical-medical-report:before {
  content: "\e827";
}

.ico-medical-patient1:before {
  content: "\e828";
}

.ico-medical-wheelchair:before {
  content: "\e829";
}

.ico-medical-lungs:before {
  content: "\e808a";
}

.ico-medical-ambulance-2:before {
  content: "\e631";
}

.ico-medical-ambulance:before {
  content: "\e632";
}

.ico-medical-ambulance-1:before {
  content: "\e633";
}