
.Favorite{
  color: #e8a52a;
}

.cdk-overlay-container {
  z-index: 1040 !important;
}

.validation {
  color: red;
  font-size: 12px;
}

.field-error {
  border-color: red !important;
}

.req{
  color: red;
}

.toast-container .ngx-toastr {
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 300px;
  border-radius: 3px 3px 3px 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  background-size: 24px;
  box-shadow: 0 0 12px #999999;
  color: #FFFFFF;
}
.toast-container .ngx-toastr:hover {
  box-shadow: 0 0 12px #000000;
  opacity: 1;
  cursor: pointer;
}

/**************************Angular*********************/
/******FORMS*******/

.mat-form-field-wrapper, .mat-form-field-appearance-fill .mat-form-field-infix {
  padding: 0 !important;
}

.form-control:focus {
  border-color: #66afe9 !important;
  outline: 0 !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6) !important;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  padding: 0 !important;
  background-color: transparent !important;
}

.mat-form-field-suffix {
  position: absolute !important;
  right: 0 !important;
}

.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-prefix .mat-datepicker-toggle-default-icon, .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-datepicker-toggle-default-icon {
  width: 12px !important;
  height: 12px !important;
}

.mat-form-field-suffix.ng-star-inserted, .mat-datepicker-toggle {
  width: 100% !important;
  height: 22px !important;
}

.mat-form-field-suffix .mat-icon-button {
  /*width: 22px !important;
  height: 22px !important;
  margin-top: 2px !important;*/
  width: 100% !important;
  height: 22px !important;
  border-radius: 0 !important;
  margin-top: 12px; /*for the date&time picker clickable area*/
  bottom: 15px;
}

.mat-datepicker-toggle-default-icon.ng-star-inserted {
  display: none !important;
}

.mat-form-field-infix {
  border-top: none !important;
}

.mat-form-field-appearance-fill .mat-form-field-underline {
  display: none !important;
}

  .mat-form-field-appearance-fill .mat-form-field-underline::before {
    height: 0 !important;
  }

  .mat-form-field-appearance-fill .mat-form-field-underline::before {
    background-color: none !important;
  }

  
/******TABLES*******/
.table-responsive {
    border: none !important;
  }
  
  .mat-table {
    box-shadow:none;
  }
  
  .mat-table th {
    text-transform: capitalize;
    color: #333;
    font-weight:bold;
  }
  
    .mat-table > thead > tr > th, .mat-table > tbody > tr > th, .mat-table > mTreeoot > tr > th, .mat-table > thead > tr > td, .mat-table > tbody > tr > td, .mat-table > mTreeoot > tr > td {
      border: none;
      font-size: 12px !important;
      /*vertical-align: inherit;*/ /* commented as it caused problem displaying the text in the tables cells, don't know why it was written in the first place*/
      padding:9px !important;
    }
  
    .mat-table > thead > tr > th, .mat-table > tbody > tr > th {
      white-space: nowrap;
      font-size: 13px;
    }
  
    .mat-table > thead > tr:first-child {
      background: none !important;
      border-bottom: 1px solid #1e6bac !important;
    }
  
    .mat-table > thead > tr:nth-child(2) {
      border-bottom: 1px solid #1e6bac;
    }
  
    .mat-table tr {
      border-bottom: 1px solid #bbd2e6;
      white-space: nowrap;
      height:initial !important;
    }
  
  .mat-table tr.active {
    background: #d8e8f7;
  }
  
    .mat-table .mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-table .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-table .mat-ripple-element, .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
      background-color: #2196F3;
    }
  
  .mat-ripple.mat-radio-ripple, .mat-ripple.mat-checkbox-ripple{
    display: none !important;
  }
  
  .mat-table .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #2196F3;
  }
  
    .table-striped > tbody > tr:nth-of-type(even) {
      background: #e0e8f0;
    }
  
  .table-striped > tbody > tr:nth-of-type(odd) {
    background: none;
  }
  
  .mat-table tr.inactive {
    background: #ccc;
  }
  
  .table-hover > tbody > tr td {
    cursor: pointer;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
  }
  */
  .table-hover > tbody > tr:hover td, .table-hover > tbody > tr.active td {
    background: #bbd2e6 !important;
  }
  
  .mat-table a {
    color: #3370aa;
  }
  
    .mat-table a:hover, .mat-table a:focus {
      color: #ffc356;
    }
  
  .mat-table .glyphicon {
    font-size: 15px;
  }
  
  .mat-table .form-group .glyphicon {
    font-size: 12px;
  }
  
  .mat-table .glyphicon:hover, .mat-table .glyphicon:focus {
    text-decoration: none;
  }
  
  .mat-table .glyphicon-remove, .mat-table .glyphicon-trash, .mat-table .glyphicon-ban-circle {
    color: #ca4a4a !important;
  }
  
  .mat-table .glyphicon-ok {
    color: #63bc0a;
  }
  
  .table-fit {
    width: 1px;
    border: 2px solid #3370aa;
  }
  
    .table-fit thead {
      background: #ccc;
    }
  
    .table-fit td {
      cursor: pointer;
      border: 2px solid #3370aa !important;
      transition: all 0.4s;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      -o-transition: all 0.4s;
      -ms-transition: all 0.4s;
      background-color: #d8e8f7;
    }
  
      .table-fit td:hover {
        background: #2196F3;
        color: #000;
        transition: all 0.4s;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -o-transition: all 0.4s;
        -ms-transition: all 0.4s;
      }
  
  .table th .glyphicon-search, .table th .fa-search {
    color: #1e6bac;
    font-size: 11px;
    cursor: pointer;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
  }
  
  .popup {
    position: absolute;
    z-index: 1500;
    /*margin-left: 50%;
      */
  }
  
  .comment {
    text-overflow: ellipsis;
    max-width: 150px;
    overflow: hidden;
  }
  
  .table.dark-header thead th {
    color: #ffffff;
    border: 1px solid #ffffff;
    border-bottom: 0;
    text-align: center;
    background: #2172a9;
  }
  
  .mat-sort-header-arrow {
    color: #1e6bac !important;
  }
  
  .mat-button, .mat-icon-button, .mat-stroked-button, .mat-icon-button[disabled][disabled] {
    color: #1e6bac !important;
  }
  
    .mat-icon-button[disabled][disabled]{
      opacity:0.2;
    }
  
  .mat-paginator-container .mat-form-field-underline {
    display: none !important;
  }
  
  .mat-paginator-container .mat-paginator-page-size-select {
    border: 1px solid #ccc !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
  }
  
    .mat-paginator-container .mat-paginator-page-size-select:focus {
      border-color: #66afe9 !important;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6) !important;
    }
  
  .mat-table .glyphicon-search ,.mat-table .fa-search, .table-sort {
    display: inline-block;
  }
  
  .mat-table .glyphicon-search, .mat-table .fa-search{
    margin-right:5px;
    cursor:pointer;
    text-decoration: none;
  }
  
  .mat-table .table-search{
    max-width:100px;
    display:none !important;
    margin-top:5px;
  }
  
  .mat-table .table-search.display {
    display: block !important;
  }
  
  
  table {
    width: 100%;
  }
  
  .modal-backdrop.in {
    display: none;
  }
  
  
  .modal.active{
    position: fixed;
    z-index: 1499;
    background: rgba(0,0,0,0.5)
  }


  table .fa-pen{
    cursor: pointer;
    color: dodgerblue;
  }
 
  .full-screen-modal .mat-dialog-container {
    max-width: none;  
  }

  .full-screen-modal .modal-dialog , .full-screen-modal .modal-content {
    max-width: none;
    height: 100%;
  }
  
.mat-dialog-container {
  padding: 0 !important;
}

.modal-dialog {
  margin: 0 !important;
}
.form-control.mat-input-element {
  font-size: 1rem;
  padding: 2px 5px;
  border: 1px solid #ced4da;
  box-sizing: border-box;
}
.mat-form-field-appearance-legacy .mat-form-field-underline {
  bottom: 2px !important; /* fix angular material time picker underline in the middle of the number */
}
.mat-datepicker-content .actions{ /* fix time&date picker btn*/
  float: unset;
  right: unset;
}

.padding-top{
  padding-top: 15px;
}
.mat-form-field {
  background: #fff;
  display: block !important;
}

/************************************************* Material Override ************************************************/

.cdk-overlay-container {
  z-index: 1040 !important;
}

.validation {
  color: red;
  font-size: 12px;
}

.field-error {
  border-color: red !important;
}


.toast-container .ngx-toastr {
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 300px;
  border-radius: 3px 3px 3px 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  background-size: 24px;
  box-shadow: 0 0 12px #999999;
  color: #FFFFFF;
}
.toast-container .ngx-toastr:hover {
  box-shadow: 0 0 12px #000000;
  opacity: 1;
  cursor: pointer;
}
