
<div class="right-content">
    <div class="main-content">
       <app-team-info [TeamData]="teamData"></app-team-info>
       <app-team-schedule [TeamScheduleData]="teamScheduleData" [teamId]="teamId"></app-team-schedule>
       <br>
       <br>

       <fieldset class="scheduler-border">
        <legend class="scheduler-border"><i class="fas fa-user-injured"></i> Team Members</legend>
        <div >
          <h1>
              <div class="tools form-inline right">
                  <a (click)="AddMember()" title="Add Team Member"><i class="fas fa-user-plus"></i></a>
              </div>
              <div class="clear"></div>
          </h1>
      </div>
        <div class="real-content">
          <div class="row">
              <div class="col-md-12">
                  <div class="table-responsive">
                      <table mat-table   [dataSource]="dataSource" matSort class="mat-elevation-z8">
                        <ng-container matColumnDef="Id">
                          <tr>
                            <th mat-header-cell *matHeaderCellDef>
                              <div mat-header></div>
                            </th>
                            <td mat-cell *matCellDef="let element">
                              <a (click)="EditMember(element.id)">
                                <span class="fas fa-pen"></span>
                              </a>
                            </td>
                          </tr>
                        </ng-container>

                        <ng-container matColumnDef="name">
                              <tr>
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                  <a class="fas fa-search" (click)="showFilter('name')" ></a>
                                  <div class="table-sort">{{'member.name'| translate}}</div>
                                        <div class="clear"></div>
                                          <input  type="text" [(ngModel)]="namefilter"
                                          (keyup)="applyFilter($event?.target,'name')"
                                         [class]="shownamefilter? 'form-control table-search left display' : 'form-control table-search left'" />

                                </th>
                                <td mat-cell *matCellDef="let element">{{element.name}}</td>
                              </tr>
                          </ng-container>

                          <ng-container matColumnDef="position">
                              <tr>
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                  <a class="fas fa-search" (click)="showFilter('position')"  ></a>
                                  <div class="table-sort">{{'member.position'| translate}}</div>
                                 
                                    <div class="clear"></div>
                                      <input [(ngModel)]="positionfilter" type="text"
                                      (keyup)="applyFilter($event?.target,'position')"
                                         [class]="showpositionfilter ? 'form-control table-search left display' : 'form-control table-search left'" />
                                 
                                 
                                </th>
                                <td mat-cell *matCellDef="let element">{{element.position}}</td>
                              </tr>
                          </ng-container>

                          <ng-container matColumnDef="number">
                            <tr>
                              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                <div class="table-sort">{{'member.number'| translate}}</div>
                              </th>
                              <td mat-cell *matCellDef="let element">{{element.number}}</td>
                            </tr>
                        </ng-container>

                        <ng-container matColumnDef="creationDate">
                            <tr>
                              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                <div class="table-sort">{{'member.creationDate'| translate}}</div>
                                <div class="clear"></div>  
                              </th>
                              <td mat-cell *matCellDef="let element">
                               {{element.creationDate | date: 'dd/MM/yyyy hh:mm a'}}
                            </td>
                            </tr>
                        </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                     
                  </div>

                  <mat-paginator [pageSizeOptions]="[10, 50, 100]"
                  showFirstLastButtons 
                  aria-label="Select page of periodic elements">
                  </mat-paginator>
            
              </div>
          </div>
        </div>
     
       </fieldset>
  </div>

</div>
