<div class="page-title">
    <form   autocomplete="off">
        <fieldset class="scheduler-border">
            <legend class="scheduler-border"><i class="fas fa-user-injured"></i> Team Info</legend>
            <div class="row">
                <div  class="col-lg-4 col-md-6 col-sm-12 mt-1">
                    <div class=""><h4>{{'teams.name'| translate}}  </h4><span>{{TeamData?.name}}</span></div>
                </div>
                <div  class="col-lg-4 col-md-6 col-sm-12 mt-1">
                    <div class=""><h4>{{'teams.city'| translate}}  </h4><span>{{TeamData?.city}}</span></div>
                </div>
                <div  class="col-lg-4 col-md-6 col-sm-12 mt-1">
                    <div class=""><h4>{{'teams.coach'| translate}}  </h4><span>{{TeamData?.coach}}</span></div>
                </div>
            </div>
        </fieldset>
    </form>
</div>

